@model SelfServiceAD.Models.UserModel
@{
    ViewBag.Title = "Home Page";
}

<h2>@Model.DisplayName</h2>
<h3>@Model.EmailAddress</h3>

<p>Password last set on: 
    @if (Model.LastPasswordSet.HasValue)
    {
        @Model.LastPasswordSet.Value.ToLocalTime()
    }
    else
    {
        @:never
    }
</p>
<p>
    @if (Model.PasswordNeverExpires || !Model.PasswordExpiration.HasValue)
    {
        @:Your password never expires.
    }
    else
    {
        @:Pasword expires on: @Model.PasswordExpiration
    }
</p>

@Html.ActionLink("Change Password Now", "ChangePassword", null, new { @class = "btn btn-primary" })
